.burger {
  position: relative;
  

 
}

.icon {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;

 
}

.nav{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  gap: 25px;
  margin-top: 7vh;
  font-size: clamp(16px, 5vw, 20px);
  border-radius: 5px;
  background-color: rgb(33, 33, 33) ;
  padding: 0.8rem; 
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.nav.open {
  transform: translateX(0); /* плавный выезд */
  opacity: 1;         
}

.icon{
  width: clamp(30px, 5vw, 50px);
  height: auto;
  margin-right: 2.5vw;
  color: white;
}

.inputMob{
  width: clamp(350px, 5vw, 400px);
  height: clamp(25px, 2.5vh, 50px);
  margin: 0 auto;
  background-color: rgba(170, 169, 169, 0.66);
  border-radius: 8px;


&::placeholder{
  font-size: large;
  color: rgb(216, 216, 216);
  padding: 0.5rem;
  
}  
}
